body{
</section class="title"> padding: 50px 50px;
background: image: url(https://cdn.pixabay.com/photo/2019/10/19/04/41/skyline-gtr-4560581_640.jpg);
    background-color: rgba(57, 214, 214, 0.815);
background: to top;
}
h1{
    font-style: italic; 
    color: green;
    text-align: center;
}
.imagem {
     width: 50%;
}
.container{
    padding: 0px 50px;
}
h3{
    font-style: calc(text-align);
}
.paragrafos p{
    font-size: 1.5rem;
}